{% extends 'shared/panel.html' %} 
{% load static %}
{% block body %}
<div class="row">
    <div class="panel">
        <div class="panel-header bg-primary">
            <h3>خوش آمدید</h3>
        </div>
        <div class="panel-content">
            <h1>پنل ادمین</h1>
            <p>به پنل مدیریتی و اختصاصی سِیج تیم خوش آمدید. در این پنل شما دسترسی سریع به بخش های مختلف پنلتون دارید. اگر خبری
                از طرف شرکت وجود داشته باشه هم شما همینجا با خبر می شی و نیازی نیست سایت ما رو چک کنی.</p>
        </div>
    </div>
</div>
<div class="row">
   
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-header">
                <i style="position: relative; top: 17px;" class="icon-list"></i>
                <h2>
                    اخبار به روزرسانی شرکت پشتیبان
                </h2>
                <div class="control-btn">
                    <span class="pull-right badge badge-primary">12</span>
                </div>
            </div>
            <div class="panel-content widget-news">
                <div class="withScroll" data-height="400">
                    <a href="#" class="message-item media">
                        <div class="media">
                            <div class="media-body">
                                <div class="pull-left p-r-10">
                                    <i class="icon-lock-open pull-left"></i>
                                </div>
                                <div>
                                    <small class="pull-right">26 بهمن</small>
                                    <h4 class="c-dark">قابلیت ارسال تیکت</h4>
                                    <p class="f-14 c-gray">ارسال تیکت از بخش های جدید اضافه شده به پنل ادمین های پایه است.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}