{% extends "shared/site.html" %} 
{% block title %} Home {% endblock %} 
{% load i18n %}
{% load static %}


{% block body %}
{% get_current_language as LANGUAGE_CODE %}

<main>
    <section id="articles">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if LANGUAGE_CODE == 'sk' %}
                        {% for post in slovaki_news %}
                        <article>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ post.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="post-banner">
                                        
                                        {% for photo in post.photos.all %}
                                            <img class="img-responsive" src="{{ photo.pic.url }}" alt="">
                                        {% endfor %}
                                        
                                    </div>
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <i class="fa fa-calendar"> {{ post.submit_date|date:"Y-m-d" }}</i>
                                        </li>

                                    </ul>
                                    <hr />
                                    <p>{{ post.summary }} </p>
                                    <a href="{% url 'website:slovakipost' post.sku post.id %}" class="btn btn-info">{% trans 'read more' %}</a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    {% else %}
                        {% for post in news_list %}
                        <article>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ post.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="post-banner">
                                        
                                            {% for photo in post.photos.all %}
                                                <img class="img-responsive" src="{{ photo.pic.url }}" alt="">
                                            {% endfor %}
                                        
                                    </div>
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <i class="fa fa-calendar"> {{ post.submit_date|date:"Y-m-d" }}</i>
                                        </li>

                                    </ul>
                                    <hr />
                                    <p>{{ post.summary }} </p>
                                    <a href="{% url 'website:post' post.sku post.id %}" class="btn btn-info">{% trans 'read more' %}</a>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
    </section>
</main>
{% endblock %}